section{
	margin:auto;
	margin-top:50px;
	width:700px;
	padding:20px;
	border-radius:5px;
	box-shadow:2px 2px 10px #6F6F6F;
}

.tbl-registro tr td{
	padding-right:10px;
	padding-bottom:10px;
	text-align:center;
}



.display tr th{
	padding-right:10px;
	padding-bottom:10px;
	text-align:center;
}

.display tr td{
	padding-right:10px;
	padding-bottom:10px;
	text-align:center;
}